.top{
    background-color: black;
    height: 100px;
}
.nav
{
    height: 150px;
}
.bg{
    background-color:black;
    opacity: 0.9;

}
#first{
    margin-top: 45px;
    margin-right: 45px;
}
#twice{
    margin-top: 45px;
    margin-right: 45px;
}
#thre{
    margin-top: 45px;
    margin-right: 45px;
}
#four{
    margin-top: 45px;
}

.infoone{
    margin-top: 35px;
    color: aliceblue;
}
.infotwo{
    margin-top: 35px;
    color: aliceblue;
}
.infothr{
    margin-top: 35px;
    color: aliceblue;
}
.infthri{
    margin-top: 35px;
}

/*noinspection CssInvalidPropertyValue*/
#ots{
    background-color:black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 1;
    width: 100%;
    height: 100%;
    z-index: 10;
    height: 77px;
}
.navbar{
    background-color:black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    height: 100px;
    margin-top: 76px;
}
#lol{
    margin-right: 85px;
}
/*#lok{
   background-color: aliceblue;
}*/
#loi{
    color: aliceblue;
}
#whiteText{
    color:white;
}
a {
    display: inline-block;
    color: #0288D1;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}
#lol:after {
    background-color:  #0288D1;
    display: block;
    content: "";
    height: 5px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
#lol:hover:after,
#lol:focus:after {
    width: 100%;
}

#image{
    width: 200px;
    height: 200px;
    border:1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 5px #aaa;
    margin: 5% auto;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#image:hover{
    border-radius: 3px;
}
#hell{
    background-color: #fff;
}
#pin{
    height: 55px;
    background-color: #0288D1;
}
#logo{
    text-align: center;
}
#hp{
    text-align: center;
    font-family: "Baskerville Old Face";
    font-size: 40px;
}
#hpp{
    text-align: center;
    font-family: "Baskerville Old Face";
    font-size: 20px;
}
#top{
    margin-top: 25px;
    margin-bottom: 25px;
}

#carouselExampleIndicators{
    position: relative;
}
#op{
    text-align: center;
}
#hpi{
    text-align: center;
}
#foot{
    background-color: rgba(255, 255, 255, 0.541);
}
#lll{
    height: 100px;
}
#ph{
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-image: url("/static/image/bedroom.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

#cf{
    height: 50px;
    background-color: rgb(168, 161, 161);
}
#itm {
    height: 850px; /* Высота слайда */
    position: relative;
    overflow: hidden;
}
#zi{
    margin-bottom: 320px;
}
#fonts{
    color:#fff;
    font-size: 80px;
    font-family: "Baskerville Old Face";
    background-color: black;
    opacity: 0.7;
}


table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {
    padding:18px 28px 18px;
    text-align:center;
}

th {
    padding-top:22px;
    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
}

td {
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

tr.odd-row td {
    background:#f6f6f6;
}

td.first, th.first {
    text-align:left
}

td.last {
    border-right:none;
}

/*noinspection ALL*/
td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

/*noinspection ALL*/
tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

/*noinspection ALL*/
th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

#mu-map {
    display: inline;
    float: left;
    height: 450px;
    width: 100%;
}

#mu-map iframe {
    width: 100%;
    height: 100%;
}